
    <link rel="stylesheet" type="text/css" href="/public/assets/css/burger_style.css"/>

  <div class="container" id="background">
    <div style="text-align: center; background:tan">
    <div class="row">

        <h1>Eat-Da-Burger!</h1>
  
  <div class="row">
  <center>

    <div class="col-md-4">
      <h3 class="submitFont">Burgers For You To Chow Down!</h3>
      <div id="burgersAvailable">

        <!-- Add Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <div class="form-control">{{burger_name}}</div>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">DEVOUR!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <div class="col-md-4"></div> 

 
    <div class="col-md-4">
      <h3 class="submitFont">Burgers That You Chowed Down!</h3>
      <div id="alreadyEaten">

        <!--Devoured Burgers-->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <div class="form-control">{{this.burger_name}}</div>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>

          <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST">

      <!--Input for text-->
        <div class="row">

          <div class="col-md-3"></div> 

        <br>
          <!-- Burger Input Box -->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Request a new burger!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="2" id="new_burger required value=" name="burger_name"></textarea>
          </div>
         
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Add a Burger!</button>
        </center>
      </form>
      <br>
    </div>

  </center>
</div>
